<ActionBar title="{{'BOAT STATUS' | L}}" class="action-bar bg-darkblue">
    <!--    <NavigationButton text="{{'Back' | L}}" android.systemIcon="ic_menu_back"></NavigationButton>-->
    <Label text="{{'BOAT STATUS' | L}}" class="alarm-text"
        (tap)="toggleAllBoatDetails($event)"></Label>

<!--    <ActionItem
            ios.position="right"
            android.position="right">
        <Label class="alarm-symbol alarm-blue"
               text="M" [nsRouterLink]="'../settings'" pageTransition="slideLeft">
        </Label>
    </ActionItem>-->
</ActionBar>


<GridLayout id="level_2" class="homeBackgroundImage"
            backgroundImage="~/assets/AppDesignSources_FreigestellteBilder_bg_harbour_gray.png">
    <PullToRefresh id="level_3" (refresh)="refreshList($event)">
        <ScrollView id="level_4" orientation="vertical" iosOverflowSafeArea="false">
            <GridLayout>
                <StackLayout id="level_5_no_key" *ngIf="!dataService.loggedIn">
                    <StackLayout class="alarm-card-home">
                        <GridLayout columns="*" rows="auto" padding = "5">
                            <Label col=0 row=0 [text]="'no_key' | L" class="t-16 c-black" textWrap="true"
                                   verticalAlignment="middle" horizontalAlignment="left"></Label>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>
                <StackLayout id="level_5_no_boat" *ngIf="dataService.loggedIn && (dataService.noBoat && dataService.isLoading == false)">
                    <StackLayout class="alarm-card-home">
                        <GridLayout columns="*" rows="auto" padding = "5">
                            <Label col=0 row=0 [text]="'no_boat' | L" class="t-16 c-black" textWrap="true"
                                   verticalAlignment="middle" horizontalAlignment="left"></Label>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>
                <StackLayout id="level_5" *ngIf="dataService && dataService.loggedIn">
                    <StackLayout [id]="'level_6_' + device.id" *ngFor="let device of dataService.deviceData; let idDevice = index">
                        <StackLayout (tap)="toggleBoatDetails(device.id)">
                            <boat-header [boatname]="device.name" [boat_image_small]="device.boat_image_small" [role]="device.role" [deviceType]="device.type"></boat-header>
                        </StackLayout>
                        <StackLayout class="boat-details" [id]="'boat-details' + device.id" visibility="collapse" (loaded)="boatDetailsLoaded($event)">
                            <boat-settings-bar [role]="device.role" [deviceType]="device.type" [idDevice]="idDevice" [numCandidates]="device.num_candidate"></boat-settings-bar>
                            <StackLayout class="alarm-card"
                                         *ngIf="device.id && device.id>0 && dataService.boatStatus && dataService.boatStatus[device.id] && dataService.boatStatus[device.id].sensor_data && dataService.boatStatus[device.id].sensor_data.time">
                                <alarm-card-4segments-title [title]="'SENSORS' | L" [updatedatetime]="dataService.boatStatus[device.id].sensor_data.time"  [warning]="''"></alarm-card-4segments-title>
                                <GridLayout *ngFor="let sensorField of dataService.sensorFieldKeys">
                                    <StackLayout *ngFor="let alarmActive of [dataService.boatStatus[device.id] && dataService.boatStatus[device.id].alarm_active && dataService.boatStatus[device.id].alarm_active[sensorField]]">
                                        <StackLayout *ngFor="let filter of [(dataService.sensorFieldMap[sensorField].filter_by_cable.length > 0 ? (dataService.sensorFieldMap[sensorField].cable.indexOf(device.external_voltage_cable) >= 0 ? dataService.sensorFieldMap[sensorField].filter_by_cable[dataService.sensorFieldMap[sensorField].cable.indexOf(device.external_voltage_cable)] : dataService.sensorFieldMap[sensorField].filter_by_cable[dataService.sensorFieldMap[sensorField].cable.indexOf(device.multisensor_cable)]) : dataService.sensorFieldMap[sensorField].filter)]">
                                            <GridLayout columns="40, *, 40, auto" rows="50" class="row-item-with-top-border"
                                                        *ngIf="(dataService.sensorFieldMap[sensorField].cable.length == 0 ||
                                                        dataService.sensorFieldMap[sensorField].cable.indexOf(device.multisensor_cable) >= 0 ||
                                                        dataService.sensorFieldMap[sensorField].cable.indexOf(device.external_voltage_cable) >= 0) &&
                                                        (dataService.sensorFieldMap[sensorField].type.length == 0 ||
                                                        dataService.sensorFieldMap[sensorField].type.indexOf(device.type) >= 0) &&
                                                        dataService.boatStatus[device.id].sensor_data[sensorField] != null &&
                                                            sensorField != 'time'"
                                                        [nsRouterLink]="(dataService.sensorFieldMap[sensorField].show_history ? ['../sensordetails', idDevice, sensorField] : [])">
                                                <Label col=0 row=0 [text]="(dataService.sensorFieldMap[sensorField].icon_by_cable.length > 0 ? (dataService.sensorFieldMap[sensorField].cable.indexOf(device.external_voltage_cable) >= 0 ? dataService.sensorFieldMap[sensorField].icon_by_cable[dataService.sensorFieldMap[sensorField].cable.indexOf(device.external_voltage_cable)] : dataService.sensorFieldMap[sensorField].icon_by_cable[dataService.sensorFieldMap[sensorField].cable.indexOf(device.multisensor_cable)]) : dataService.sensorFieldMap[sensorField].icon) | L"
                                                       [class]="'alarm-symbol-' + dataService.sensorFieldMap[sensorField].iconfont + (alarmActive ? ' alarm-orange' :  ' alarm-gray')"></Label>
                                                <Label col=0 row=0 [text]="''" *ngIf="filter == 'ChargingActive' && dataService.boatStatus[device.id].alarm_active && dataService.boatStatus[device.id].alarm_active['ChargingActive']"
                                                       [class]="'alarm-symbol-fas-small' + (alarmActive ? ' alarm-gray-dark' :  ' alarm-gray-dark')" opacity="1"></Label>
                                                <Label col=1 row=0 [text]="(dataService.sensorFieldMap[sensorField].name_by_cable.length > 0 ? (dataService.sensorFieldMap[sensorField].cable.indexOf(device.external_voltage_cable) >= 0 ? dataService.sensorFieldMap[sensorField].name_by_cable[dataService.sensorFieldMap[sensorField].cable.indexOf(device.external_voltage_cable)] : dataService.sensorFieldMap[sensorField].name_by_cable[dataService.sensorFieldMap[sensorField].cable.indexOf(device.multisensor_cable)]) : dataService.sensorFieldMap[sensorField].name) | L" [class]="'t-16 font-weight-bold' + (alarmActive ? ' alarm-orange' : ' alarm-blue')"
                                                       verticalAlignment="middle" horizontalAlignment="left"></Label>
                                                <Label col=2 row=0
                                                       [text]="alarmActive ? 'C': ''"
                                                       class="alarm-symbol alarm-orange"></Label>
                                                <Label col=3 row=0 *ngIf="filter=='active'"
                                                       [text]="dataService.boatStatus[device.id].sensor_data[sensorField] == true ? ('yes' | L) : ('no' | L)"
                                                       [class]="'t-16 font-weight-bold' + (alarmActive ? ' alarm-orange' : '')"
                                                       verticalAlignment="middle" horizontalAlignment="right"></Label>
                                                <Label col=3 row=0 *ngIf="filter=='closed'"
                                                       [text]="dataService.boatStatus[device.id].sensor_data[sensorField] == true ? ('closed' | L) : ('open' | L)"
                                                       [class]="'t-16 font-weight-bold' + (alarmActive ? ' alarm-orange' : '')"
                                                       verticalAlignment="middle" horizontalAlignment="right"></Label>
                                                <Label col=3 row=0 *ngIf="filter=='connected'"
                                                       [text]="dataService.boatStatus[device.id].sensor_data[sensorField] == true ? ('connected' | L) : ('not connected' | L)"
                                                       [class]="'t-16 font-weight-bold' + (alarmActive ? ' alarm-orange' : '')"
                                                       verticalAlignment="middle" horizontalAlignment="right"></Label>
                                                <Label col=3 row=0 *ngIf="filter=='wet'"
                                                       [text]="dataService.boatStatus[device.id].sensor_data[sensorField] == true ? ('wet' | L) : ('dry' | L)"
                                                       [class]="'t-16 font-weight-bold' + (alarmActive ? ' alarm-orange' : '')"
                                                       verticalAlignment="middle" horizontalAlignment="right"></Label>
                                                <Label col=3 row=0 *ngIf="filter=='3V'"
                                                       [text]="(dataService.boatStatus[device.id].sensor_data[sensorField] < 3.0 ? 0 : dataService.boatStatus[device.id].sensor_data[sensorField]) + ' ' + dataService.sensorFieldMap[sensorField].unit"
                                                       [class]="'t-16 font-weight-bold' + (alarmActive ? ' alarm-orange' : '')"
                                                       verticalAlignment="middle" horizontalAlignment="right"></Label>
                                                <Label col=3 row=0 *ngIf="filter=='' || filter=='ChargingActive'"
                                                       [text]="dataService.boatStatus[device.id].sensor_data[sensorField] + ' ' + dataService.sensorFieldMap[sensorField].unit"
                                                       [class]="'t-16 font-weight-bold' + (alarmActive ? ' alarm-orange' : '')"
                                                       verticalAlignment="middle" horizontalAlignment="right"></Label>

                                            </GridLayout>
                                        </StackLayout>
                                    </StackLayout>
                                </GridLayout>
                            </StackLayout>
                            <StackLayout [id]="'level_7_' + device.id" class="alarm-card"
                                         *ngIf="dataService.boatStatus && dataService.boatStatus[device.id] && dataService.boatStatus[device.id].position_data && dataService.boatStatus[device.id].position_data.time">
                                <alarm-card-4segments-title [title]="'POSITION' | L" [updatedatetime]="dataService.boatStatus[device.id].position_data.time"  [warning]="''"
                                                            *ngIf="device.bad_gps_signal == false"></alarm-card-4segments-title>
                                <alarm-card-4segments-title [title]="'POSITION' | L" [updatedatetime]="dataService.boatStatus[device.id].position_data.time"  [warning]="('GPS Reception' | L)"
                                                            *ngIf="device.bad_gps_signal == true"></alarm-card-4segments-title>
                                <GridLayout columns="*, 40" rows="20, *, 40" [id]="'level_8_' + device.id" *ngIf="dataService.boatStatus[device.id].position_data.latitude != 0">
                                    <MapView col="0" row="0" rowSpan="3" colSpan="2" [id]="'mapview_' + device.id" height="200" #mapView [latitude]="dataService.boatStatus[device.id].position_data.latitude" [longitude]="dataService.boatStatus[device.id].position_data.longitude"
                                             [zoom]="zoom" [minZoom]="minZoom" [maxZoom]="maxZoom" [bearing]="bearing"
                                             [tilt]="tilt" padding="5, 5, 5, 5" [mapAnimationsEnabled]="false"
                                             (mapReady)="onMapReady($event, idDevice)"
                                             (markerSelect)="onMarkerEvent($event)"
                                             (markerInfoWindowTapped)="onMarkerEvent($event)"></MapView>
                                    <Label col="0" row="2" colSpan="2" class="shadow-overlay-bottom-alarm-red"  *ngIf="device.mode == 'SOS' || device.mode == 'Unacknowledged Movement'"></Label>
                                    <Label col="0" row="2" colSpan="2" class="shadow-overlay-bottom-alarm-blue" *ngIf="device.mode != 'SOS' && device.mode != 'Unacknowledged Movement' && device.mode != ''"></Label>
                                    <Label col="0" row="2" class="text-overlay-bottom-left" [text]="(device.mode + ' active') | L" *ngIf="device.mode != ''"></Label>
                                    <Label col="1" row="2" [text]="''"
                                           class="fa-symbol-overlay-bottom-right"  *ngIf="device.mode == 'SOS'"></Label>
                                    <Label col="1" row="2" [text]="''"
                                           class="fa-symbol-overlay-bottom-right"  *ngIf="device.mode == 'Race Mode'"></Label>
                                    <Label col="1" row="2" [text]="''"
                                           class="fa-symbol-overlay-bottom-right"  *ngIf="device.mode == 'Mapping'"></Label>
                                    <GridLayout col="0" row="0" rowSpan="3" colSpan="2" [nsRouterLink]="['../mapdetails', idDevice]"></GridLayout>
                                </GridLayout>
                                <GridLayout>
                                    <StackLayout>
                                        <GridLayout columns="40, *, 40, auto" rows="50" class="row-item-with-top-border"
                                                    [nsRouterLink]="['../mapdetails', idDevice]">
                                            <Label col=0 row=0 [text]="''"
                                                   [class]="'alarm-symbol-fas  alarm-gray'"></Label>
                                            <Label col=1 row=0 [text]="'Route' | L" [class]="'t-16 font-weight-bold alarm-blue'"
                                                   verticalAlignment="middle" horizontalAlignment="left"></Label>

                                        </GridLayout>
                                    </StackLayout>
                                </GridLayout>
                                <GridLayout *ngFor="let sensorField of dataService.gpsFieldKeys">
                                    <StackLayout *ngFor="let alarmActive of [dataService.boatStatus[device.id] && dataService.boatStatus[device.id].alarm_active && dataService.boatStatus[device.id].alarm_active[sensorField]]">
                                        <GridLayout columns="40, *, 40, auto" rows="50" class="row-item-with-top-border"
                                                    *ngIf="dataService.boatStatus[device.id].position_data[sensorField] != null && sensorField != 'time'" [nsRouterLink]="(dataService.gpsFieldMap[sensorField].show_history ? ['../gpsdetails', idDevice, sensorField]: [])">
                                            <Label col=0 row=0 [text]="dataService.gpsFieldMap[sensorField].icon"
                                                   [class]="'alarm-symbol-' + dataService.gpsFieldMap[sensorField].iconfont + (alarmActive ? ' alarm-orange' :  ' alarm-gray')"></Label>
                                            <Label col=1 row=0 [text]="dataService.gpsFieldMap[sensorField].name | L" [class]="'t-16 font-weight-bold' + (alarmActive ? ' alarm-orange' : ' alarm-blue')"
                                                   verticalAlignment="middle" horizontalAlignment="left"></Label>
                                            <Label col=2 row=0
                                                   [text]="alarmActive ? 'C': ''"
                                                   class="alarm-symbol alarm-orange"></Label>
                                            <Label col=3 row=0 *ngIf="dataService.gpsFieldMap[sensorField].filter=='active'"
                                                   [text]="dataService.boatStatus[device.id].position_data[sensorField] == true ? ('yes' | L) : ('no' | L)"
                                                   [class]="'t-16 font-weight-bold' + (alarmActive ? ' alarm-orange' : '')"
                                                   verticalAlignment="middle" horizontalAlignment="right"></Label>
                                            <Label col=3 row=0 *ngIf="dataService.gpsFieldMap[sensorField].filter=='closed'"
                                                   [text]="dataService.boatStatus[device.id].position_data[sensorField] == true ? ('closed' | L) : ('open' | L)"
                                                   [class]="'t-16 font-weight-bold' + (alarmActive ? ' alarm-orange' : '')"
                                                   verticalAlignment="middle" horizontalAlignment="right"></Label>
                                            <Label col=3 row=0 *ngIf="dataService.gpsFieldMap[sensorField].filter=='3V'"
                                                   [text]="(dataService.boatStatus[device.id].position_data[sensorField] < 3.0 ? 0 : dataService.boatStatus[device.id].position_data[sensorField]) + ' ' + dataService.gpsFieldMap[sensorField].unit"
                                                   [class]="'t-16 font-weight-bold' + (alarmActive ? ' alarm-orange' : '')"
                                                   verticalAlignment="middle" horizontalAlignment="right"></Label>
                                            <Label col=3 row=0 *ngIf="dataService.gpsFieldMap[sensorField].filter==''"
                                                   [text]="dataService.boatStatus[device.id].position_data[sensorField] + ' ' + dataService.gpsFieldMap[sensorField].unit"
                                                   [class]="'t-16 font-weight-bold' + (alarmActive ? ' alarm-orange' : '')"
                                                   verticalAlignment="middle" horizontalAlignment="right"></Label>

                                        </GridLayout>
                                    </StackLayout>
                                </GridLayout>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </GridLayout>
        </ScrollView>
    </PullToRefresh>
    <MDActivityIndicator [busy]="false">
    </MDActivityIndicator>
    <GridLayout class="blob" *ngIf="dataService.isLoadingLatestSensorData">
        <Image col=0 row=1 src="~/assets/icon.png"></Image>
    </GridLayout>
</GridLayout>
