<ActionBar title="Title" class="action-bar bg-darkblue">
    <NavigationButton text="{{'Back' | L}}" android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <Label [text]="dataService.gpsFieldMap[field].name | L" class="alarm-text"></Label>

</ActionBar>

<GridLayout class="homeBackgroundImage"
            backgroundImage="~/assets/AppDesignSources_FreigestellteBilder_bg_harbour_gray.png">
    <PullToRefresh (refresh)="refreshList($event)">
        <ScrollView orientation="vertical" *ngIf="initialized" iosOverflowSafeArea="false">
            <StackLayout *ngIf="!dataService.isLoading">
                <GridLayout columns="120, *" rows="30, 30" padding="5" marginBottom="10" class="bg-darkblue">
                    <GridLayout col="0" row="0" rowSpan="2" marginRight="12" *ngIf="dataService.deviceData[idDevice].boat_image_small && dataService.deviceData[idDevice].boat_image_small != 'null'">
                        <Image [src]="'' + dataService.deviceData[idDevice].boat_image_small"
                               class="boatoffice-boat-image"></Image>
                    </GridLayout>
                    <Label col="1" row="0" [text]="dataService.deviceData[idDevice].type | L" class="c-white t-16 font-weight-bold" height="30"></Label>
                    <Label col="1" row="1" [text]="dataService.deviceData[idDevice].name"
                           class="alarm-blue t-16" height="30"></Label>
                </GridLayout>
                <StackLayout orientation="horizontal" height="60">
                    <GridLayout
                            class="{{'interval-button' + (interval.id == selectedIntervalId ? '-selected' : '')}}" verticalAlignment="top" horizontalAlignment="center"
                            (tap)="setSelectedInterval(interval.id)" *ngFor="let interval of dataService.historyIntervalData">
                        <Label [text]="interval.name | L" verticalAlignment="center" horizontalAlignment="center"></Label>
                    </GridLayout>
                </StackLayout>
                <StackLayout orientation="vertical" padding="10" class="alarm-card t-18" [visibility]="selectedIntervalId > 2 && !dataService.deviceData[idDevice].is_pro ? 'visible' : 'collapsed'">
                    <TextView fontSize="18" text="{{'Please buy Pro' | L}}"></TextView>
                </StackLayout>
                <StackLayout orientation="vertical" padding="10" class="alarm-card" [visibility]="selectedIntervalId <= 2 || dataService.deviceData[idDevice].is_pro ? 'visible' : 'collapsed'">
                    <RadCartesianChart style="height: 250" id="{{field}}_0">
                        <LinearAxis tkCartesianVerticalAxis
                                    labelLayoutMode="outer"
                                    [labelFormat]="'%.0f ' + dataService.gpsFieldMap[field].unit + ' '"
                                    [majorStep]="((dataService.boatHistory[dataService.deviceData[idDevice].id].position_data_minmax[field].Max[intervalKeys[selectedIntervalId]] && dataService.boatHistory[dataService.deviceData[idDevice].id].position_data_minmax[field].Min[intervalKeys[selectedIntervalId]]) ? (dataService.gpsFieldMap[field].majorStep * ((((dataService.boatHistory[dataService.deviceData[idDevice].id].position_data_minmax[field].Max[intervalKeys[selectedIntervalId]] - dataService.boatHistory[dataService.deviceData[idDevice].id].position_data_minmax[field].Min[intervalKeys[selectedIntervalId]]) / dataService.gpsFieldMap[field].majorStep / 10) + 0.5) | number:'2.0-0')) : dataService.gpsFieldMap[field].majorStep)"
                                    [minimum]="(dataService.boatHistory[dataService.deviceData[idDevice].id].position_data_minmax[field].Min[intervalKeys[selectedIntervalId]] ? (((dataService.boatHistory[dataService.deviceData[idDevice].id].position_data_minmax[field].Min[intervalKeys[selectedIntervalId]] / dataService.gpsFieldMap[field].majorStep) - 0.49) | number:'2.0-0') * dataService.gpsFieldMap[field].majorStep : 0)"
                                    [maximum]="(dataService.boatHistory[dataService.deviceData[idDevice].id].position_data_minmax[field].Max[intervalKeys[selectedIntervalId]] ? ((((dataService.boatHistory[dataService.deviceData[idDevice].id].position_data_minmax[field].Max[intervalKeys[selectedIntervalId]] + 1) / dataService.gpsFieldMap[field].majorStep) + 0.5) | number:'2.0-0') * dataService.gpsFieldMap[field].majorStep : dataService.gpsFieldMap[field].majorStep)">
                        </LinearAxis>
                        <DateTimeContinuousAxis tkCartesianHorizontalAxis allowZoom="true" allowPan="true" horizontalLocation="Left"
                                    labelMargin="20"
                                    dateFormat="{{'dd.MM' + (dataService.historyIntervalData[selectedIntervalId].stepUnit == 'Hour' ? ' HH:00' : '')}}"
                                    labelFitMode="Rotate"
                                    labelLayoutMode="outer"
                                    [majorStepUnit]="dataService.historyIntervalData[selectedIntervalId].stepUnit"
                                    [majorStep]="dataService.historyIntervalData[selectedIntervalId].step"
                                    [minimum]="dataService.historyIntervalData[selectedIntervalId].dateInterval.start"
                                    [maximum]="dataService.historyIntervalData[selectedIntervalId].dateInterval.stop">
                        </DateTimeContinuousAxis>
                        <RadCartesianChartGrid tkCartesianGrid horizontalLinesVisible="true"
                                    verticalLinesVisible="true"
                                    horizontalStripLinesVisible="true"
                                    verticalStripLinesVisible="true"
                                    verticalStrokeColor="#cccccc" horizontalStrokeColor="#cccccc"
                                    horizontalStrokeWidth="2" verticalstrokeWidth="2"
                                    horizontalStripLineColor="#eeeef9, #ffffff">
                        </RadCartesianChartGrid>
                        <LineSeries tkCartesianSeries
                                    [items]="dataService.boatHistory[dataService.deviceData[idDevice].id].position_data"
                                    categoryProperty="date"
                                    strokeColor="#356eb4"
                                    [valueProperty]="field"></LineSeries>
                        <Palette tkCartesianPalette>
                            <PaletteEntry tkCartesianPaletteEntry
                                strokeColor="#356eb4"></PaletteEntry>
                        </Palette>
                    </RadCartesianChart>

                    <Label text="" horizontalAlignment="center" class="alarm-blue font-weight-bold" paddingBottom="10" height="20"></Label>
                    <StackLayout *ngIf="dataService.boatHistory[dataService.deviceData[idDevice].id].position_data_minmax[field].Max[intervalKeys[selectedIntervalId]]">
                        <GridLayout rows="5,*,*", columns="10,30,*,*,10" paddingBottom="10">
                            <Label col=1 row=1 rowSpan="2" text="" class="alarm-symbol-fas alarm-gray"></Label>
                            <Label col="2" row="1" rowSpan="2" text="Maximum" class="alarm-blue font-weight-bold" verticalAlignment="center"></Label>
                            <Label col="3" row="1" [text]="dataService.boatHistory[dataService.deviceData[idDevice].id].position_data_minmax[field].Max[intervalKeys[selectedIntervalId]] + ' ' + dataService.gpsFieldMap[field].unit + ' '" class="alarm-blue pull-right font-weight-bold"></Label>
                            <Label col="3" row="2" [text]="(dataService.boatHistory[dataService.deviceData[idDevice].id].position_data_minmax[field].MaxDate[intervalKeys[selectedIntervalId]] | date : 'dd.MM.yyyy HH:mm')" class="c-grey-dark pull-right"></Label>
                        </GridLayout>
                        <GridLayout rows="5,*,*", columns="10,30,*,*,10" paddingBottom="10">
                            <GridLayout col="1" row="0" colSpan="3" borderTopWidth="1" borderTopColor="#d3d3d3"></GridLayout>
                            <Label col=1 row=1 rowSpan="2" text="" class="alarm-symbol-fas alarm-gray"></Label>
                            <Label col="2" row="1" rowSpan="2" text="Minimum" class="alarm-blue font-weight-bold" verticalAlignment="center"></Label>
                            <Label col="3" row="1" [text]="dataService.boatHistory[dataService.deviceData[idDevice].id].position_data_minmax[field].Min[intervalKeys[selectedIntervalId]] + ' ' + dataService.gpsFieldMap[field].unit + ' '" class="alarm-blue pull-right font-weight-bold"></Label>
                            <Label col="3" row="2" [text]="(dataService.boatHistory[dataService.deviceData[idDevice].id].position_data_minmax[field].MinDate[intervalKeys[selectedIntervalId]] | date : 'dd.MM.yyyy HH:mm')" class="c-grey-dark pull-right"></Label>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </PullToRefresh>
    <MDActivityIndicator [busy]="false">
    </MDActivityIndicator>
    <GridLayout class="blob" *ngIf="dataService.isLoading">
        <Image col=0 row=1 src="~/assets/icon.png"></Image>
    </GridLayout>
</GridLayout>
