<StackLayout class="page__content">

    <Label class="page__content-icon fas" text="&#xf013;"></Label>
    <Label class="page__content-placeholder" text="<!-- Barcode scanning goes here -->"></Label>
</StackLayout>

<!--<BarcodeScanner-->
<!--      class="scanner-round"-->
<!--      formats="QR_CODE, EAN_13"-->
<!--      beepOnScan="true"-->
<!--      reportDuplicates="true"-->
<!--      preferFrontCamera="false"-->
<!--      [pause]="pause"-->
<!--      (scanResult)="onScanResult($event)">-->
<!--</BarcodeScanner>-->
