<ActionBar title="Title" class="action-bar">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back"></NavigationButton>
    <Label text="Boat History"></Label>
    <ActionItem
            ios.position="left"
            android.position="actionBar">
        <Image class="fas t-25" src="~/assets/boat-black.png"></Image>
    </ActionItem>
    <ActionItem
            ios.position="right"
            android.position="actionBar">
        <Label text="&#xf013;" class="fas t-25" (tap)="click_gear()"></Label>

    </ActionItem>
</ActionBar>

