<ActionBar title="Title" class="action-bar">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back"></NavigationButton>
    <Label text="Boat History"></Label>
    <!--    <ActionItem-->
    <!--      ios.position="left"-->
    <!--      android.position="actionBar">-->
    <!--        <Image class="fas t-25" src="~/assets/boat-black.png"></Image>-->
    <!--    </ActionItem>-->
    <ActionItem
            ios.position="right"
            android.position="actionBar">
        <Label text="&#xf013;" class="fas t-25" (tap)="click_gear()"></Label>

    </ActionItem>
</ActionBar>
<!--<PullToRefresh (refresh)="refreshList($event)">-->
<!--    <ScrollView orientation="vertical">-->
<!--        <GridLayout class="page__content" *ngIf="!isLoading">-->
<!--            <StackLayout orientation="vertical" backgroundColor="lightgray" padding="10">-->
<!--                <Label text="IntTemperature" height="20" backgroundColor="#add8e6"></Label>-->
<!--                <RadCartesianChart style="height: 800px" id="intTemp">-->
<!--                    <DateTimeContinuousAxis tkCartesianHorizontalAxis dateFormat="dd.MM" labelFitMode="Rotate"-->
<!--                                            labelRotationAngle="-1.3" labelTextColor="black" majorStepUnit="Day"-->
<!--                                            majorStep="1" [minimum]="intTempMinStr"-->
<!--                                            [maximum]="intTempMaxStr"></DateTimeContinuousAxis>-->
<!--                    <LinearAxis tkCartesianVerticalAxis></LinearAxis>-->
<!--                    <RadCartesianChartGrid tkCartesianGrid horizontalLinesVisible="true" verticalLinesVisible="true"-->
<!--                                           horizontalStripLinesVisible="true" verticalStripLinesVisible="true"-->
<!--                                           verticalStrokeColor="#cccccc" horizontalStrokeColor="#cccccc"-->
<!--                                           horizontalStrokeWidth="2" verticalStrokeWidth="1"-->
<!--                                           horizontalStripLineColor="#eeeef9, #ffffff"></RadCartesianChartGrid>-->
<!--                    <SplineSeries tkCartesianSeries [items]="intTemp" categoryProperty="milliseconds"-->
<!--                                  strokeColor="#5555ff"-->
<!--                                  valueProperty="min"></SplineSeries>-->
<!--                    <SplineSeries tkCartesianSeries [items]="intTemp" categoryProperty="milliseconds"-->
<!--                                  strokeColor="#ff2222"-->
<!--                                  valueProperty="max"></SplineSeries>-->
<!--                </RadCartesianChart>-->

<!--                <Label text="IntBattVolt {{ intBattVoltMinStr }} - {{ intBattVoltMaxStr }}" height="20"-->
<!--                       backgroundColor="#add8e6"></Label>-->
<!--                <RadCartesianChart style="height: 800px" id="intBattVolt{{x}}" *ngFor="let x of [1]">-->
<!--                    <DateTimeContinuousAxis tkCartesianHorizontalAxis dateFormat="dd.MM" labelFitMode="Rotate"-->
<!--                                            labelRotationAngle="-1.3" labelTextColor="black" majorStepUnit="Day"-->
<!--                                            majorStep="1"-->
<!--                                            [minimum]="intBattVoltMinStr" [maximum]="intBattVoltMaxStr"-->
<!--                    ></DateTimeContinuousAxis>-->
<!--                    <LinearAxis tkCartesianVerticalAxis></LinearAxis>-->
<!--                    <RadCartesianChartGrid tkCartesianGrid horizontalLinesVisible="true" verticalLinesVisible="true"-->
<!--                                           horizontalStripLinesVisible="true" verticalStripLinesVisible="true"-->
<!--                                           verticalStrokeColor="#cccccc" horizontalStrokeColor="#cccccc"-->
<!--                                           horizontalStrokeWidth="2" verticalStrokeWidth="1"-->
<!--                                           horizontalStripLineColor="#eeeef9, #ffffff"></RadCartesianChartGrid>-->
<!--                    <SplineSeries tkCartesianSeries [items]="intBattVolt" categoryProperty="milliseconds"-->
<!--                                  strokeColor="#5555ff"-->
<!--                                  valueProperty="min"></SplineSeries>-->
<!--                    <SplineSeries tkCartesianSeries [items]="intBattVolt" categoryProperty="milliseconds"-->
<!--                                  strokeColor="#ff2222"-->
<!--                                  valueProperty="max"></SplineSeries>-->
<!--                </RadCartesianChart>-->
<!--            </StackLayout>-->
<!--        </GridLayout>-->
<!--        <FlexboxLayout justifyContent="center" alignItems="center" *ngIf="isLoading">-->
<!--            <ActivityIndicator [busy]="isLoading"></ActivityIndicator>-->
<!--        </FlexboxLayout>-->
<!--    </ScrollView>-->
<!--</PullToRefresh>-->
