<GridLayout columns="50, *, 50", rows="50">
    <Image class="fas t-36" src="~/assets/icon.png" row="0" col="0" backgroundColor="black"></Image>
    <Label text="Boat History" fontSize="20" row="0" col="1" color="white" textAlignment="center", verticalAlignment="center" backgroundColor="black"></Label>
    <Label class="fas t-36" horizontalAlignment="stretch" verticalAlignment="stretch" text="&#xf013;" row="0" col="2" color="#1e90ff" backgroundColor="black"></Label>
</GridLayout>
<GridLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf071;"></Label>
    <Label class="page__content-placeholder" text="<!-- Page content goes here -->"></Label>
</GridLayout>
