<BottomNavigation>
    <TabStrip>
        <TabStripItem class="navigation__item">
            <!--
                Note TabStripItem will only accept single Label and/or single Image elements that it
                will "adopt"; any other layout elements you try to specify will be ignored
            -->
            <Label text="&#xf015;" class="fas t-25" verticalAlignment="top"></Label>
        </TabStripItem>
        <TabStripItem class="navigation__item" margin="0">
            <Label text="C" class="icon-boatofficer t-25"></Label>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="O" class="icon-boatofficer t-25"></Label>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="M" class="icon-boatofficer t-25"></Label>
        </TabStripItem>
    </TabStrip>

    <TabContentItem>
        <page-router-outlet name="homeTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="alarmTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="boatTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="settingsTab"></page-router-outlet>
    </TabContentItem>
</BottomNavigation>
