<BottomNavigation selectedIndex="0" id="bottomNav" (selectedIndexChanged)="onSelectedIndexChanged($event)">
    <TabStrip id="tabstrip" iosIconRenderingMode="alwaysOriginal">
        <!--
            Note TabStripItem will only accept single Label and/or single Image elements that it
            will "adopt"; any other layout elements you try to specify will be ignored
        -->
        <TabStripItem id="tabItemHome" iconSource="font://&#xf015;" class="navigation__item fas" (tap)="onHomeMenuTap($event)">
            <Label text="." fontColor="#ffffff" color="#ffffff" fontSize="1"></Label>
        </TabStripItem>
        <TabStripItem id="tabItemBoat" iconSource="font://&#x4f;" class="navigation__item icon-boatofficer" (tap)="onBoatMenuTap($event)">
            <Label text="." fontColor="#ffffff" color="#ffffff" fontSize="1"></Label>
        </TabStripItem>
        <!--
        <TabStripItem id="tabItemLocation" iconSource="font://&#xf5a0;" class="navigation__item fas" (tap)="onLocationMenuTap($event)">
            <Label text="." fontColor="#ffffff" color="#ffffff" fontSize="1"></Label>
        </TabStripItem>
        -->
        <TabStripItem id="tabItemAlarm" class="navigation__item icon-boatofficer" (tap)="onAlarmsMenuTap($event)">
            <Label text="." fontColor="#ffffff" color="#ffffff" fontSize="1"></Label>
            <Image [src]="(dataService.sumActiveAlarms == 0 ? (currentIndex == 2 ? '~/assets/alert_active.png' :  '~/assets/alert_inactive.png') : (currentIndex == 2 ? '~/assets/alert_active_badge.png' :  '~/assets/alert_inactive_badge.png'))"></Image>
        </TabStripItem>
        <TabStripItem id="tabItemSettings" iconSource="font://&#x4d;" class="navigation__item icon-boatofficer" (tap)="onSettingsMenuTap($event)">
            <Label text="." fontColor="#ffffff" color="#ffffff" fontSize="1"></Label>
        </TabStripItem>
    </TabStrip>

    <TabContentItem>
        <page-router-outlet name="homeoutlet"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="boatoutlet"></page-router-outlet>
    </TabContentItem>
<!--
    <TabContentItem>
        <page-router-outlet name="locationoutlet"></page-router-outlet>
    </TabContentItem>
-->
    <TabContentItem>
        <page-router-outlet name="alarmoutlet"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="settingsoutlet"></page-router-outlet>
    </TabContentItem>
</BottomNavigation>
