<BottomNavigation #bt selectedIndex="0" (selectedIndexChanged)="onSelectedIndexChanged($event)">
    <TabStrip id="tabstrip">
        <!--
            Note TabStripItem will only accept single Label and/or single Image elements that it
            will "adopt"; any other layout elements you try to specify will be ignored
        -->
        <TabStripItem id="tabItemHome" iconSource="font://&#xf015;" class="navigation__item fas" (tap)="onHomeMenuTap($event)">
            <Label text="." fontColor="#ffffff" color="#ffffff" fontSize="5"></Label>
        </TabStripItem>
        <TabStripItem id="tabItemAlarm" iconSource="font://&#x43;" class="navigation__item icon-boatofficer t-36" (tap)="onAlarmsMenuTap($event)">
            <Label text="." fontColor="#ffffff" color="#ffffff" fontSize="5"></Label>
        </TabStripItem>
        <TabStripItem iconSource="font://&#x4f;" class="navigation__item icon-boatofficer" (tap)="onBoatMenuTap($event)">
            <Label text="." fontColor="#ffffff" color="#ffffff" fontSize="5"></Label>
        </TabStripItem>
        <TabStripItem iconSource="font://&#x4f;" class="navigation__item icon-boatofficer" (tap)="onLocationMenuTap($event)">
            <Label text="." fontColor="#ffffff" color="#ffffff" fontSize="5"></Label>
        </TabStripItem>
        <TabStripItem iconSource="font://&#x4d;" class="navigation__item icon-boatofficer" (tap)="onSettingsMenuTap($event)">
            <Label text="." fontColor="#ffffff" color="#ffffff" fontSize="5"></Label>
        </TabStripItem>
    </TabStrip>

    <TabContentItem>
        <page-router-outlet name="home"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="alarm"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="boat"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="location"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="settings"></page-router-outlet>
    </TabContentItem>
</BottomNavigation>
