<GridLayout columns="120, *, auto, 40" rows="30, 30" padding="5" class="bg-darkblue">
  <GridLayout col="0" row="0" rowSpan="2" marginRight="12" *ngIf="boat_image_small && boat_image_small != 'null'">
    <Image [src]="'' + boat_image_small"
           class="boatoffice-boat-image"></Image>
  </GridLayout>
  <Label col="1" row="0" [text]="boatname" class="c-white t-16 font-weight-bold" height="30"></Label>
  <Label col="1" row="1" [text]="deviceType | L"
         class="alarm-blue t-16" height="30"></Label>
  <Label *ngIf="numberOfActiveAlarms && role != 'officer'" col="2" row="0" rowSpan="2" [text]="numberOfActiveAlarms"
         ios:class="alarm-number-circle t-16 font-weight-bold" android:class="alarm-number-circle-android t-16 font-weight-bold"></Label>
  <Label *ngIf="numberOfActiveAlarms && role == 'officer'" col="3" row="0" rowSpan="2" [text]="numberOfActiveAlarms"
         ios:class="alarm-number-circle t-16 font-weight-bold" android:class="alarm-number-circle-android t-16 font-weight-bold"></Label>
  <Label col="3" row="0" rowSpan="2" [text]="''"
         class="user-role-symbol" *ngIf="role == 'sailor'"></Label>
  <Label col="3" row="0" rowSpan="2" [text]="''"
         class="user-role-symbol" *ngIf="role == 'guard'"></Label>
</GridLayout>
