<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212338554565-1c7m6m1tmu4rd0rka671f8j4cv1bo802.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212338554565-1c7m6m1tmu4rd0rka671f8j4cv1bo802</string>
	<key>API_KEY</key>
	<string>AIzaSyDLIIQBXTMyrO0y2ZHjgTM0uEcRliXy4eg</string>
	<key>GCM_SENDER_ID</key>
	<string>212338554565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boatofficer.BoatOfficerMobile</string>
	<key>PROJECT_ID</key>
	<string>thingsofficer-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>thingsofficer-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212338554565:ios:61eae02902ad6e2efea2ac</string>
	<key>DATABASE_URL</key>
	<string>https://thingsofficer-firebase.firebaseio.com</string>
</dict>
</plist>