<!--<ActionBar backgroundColor="#091524">
    <Label text="Home" color="white"></Label>
</ActionBar>-->
<GridLayout id="level_1" class="homeBackgroundImage"
            backgroundImage="~/assets/AppDesignSources_FreigestellteBilder_bg_harbour_w_bluesky.png">
    <PullToRefresh id="level_2" (refresh)="refreshList($event)">
        <ScrollView id="level_3" orientation="vertical" iosOverflowSafeArea="false">
            <GridLayout id="level_4" columns="*" rows="40, 80, 10, *" class="page__content">
                <Label col=0 row=0 text=""></Label>
                <Image col=0 row=1 src="~/assets/BOATOFFICER_Logo.png" class="boatofficer-logo"></Image>
                <Label col=0 row=2 text=""></Label>
                <StackLayout id="level_5_no_key" col=0 row=3 *ngIf="!dataService.loggedIn">
                    <StackLayout class="alarm-card-home">
                        <GridLayout columns="*" rows="auto" padding = "5">
                            <Label col=0 row=0 [text]="'no_key' | L" class="t-16 c-black" textWrap="true"
                                   verticalAlignment="middle" horizontalAlignment="left"></Label>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>
                <StackLayout id="level_5_no_boat" col=0 row=3 *ngIf="dataService.loggedIn && (dataService.noBoat && dataService.isLoading == false)">
                    <StackLayout class="alarm-card-home">
                        <GridLayout columns="*" rows="auto" padding = "5">
                            <Label col=0 row=0 [text]="'no_boat' | L" class="t-16 c-black" textWrap="true"
                                   verticalAlignment="middle" horizontalAlignment="left"></Label>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>
                <StackLayout id="level_5" col=0 row=3 *ngIf="dataService">
                    <StackLayout [id]="'level_6_' + device.id" *ngFor="let device of dataService.deviceData; let idDevice = index" marginTop="30">
                        <StackLayout class="only-boat-name" *ngIf="!device.boat_image_medium || device.boat_image_medium == 'null'">
                            <GridLayout (tap)="onBoatImageTap(device.id)">
                                <GridLayout rows="35, 35" columns="*, 40" class="bg-darkblue">
                                    <Label col="0" row="0" class="boat-name-in-button" [text]="device.name"></Label>
                                    <Label col="1" row="0" class="role-symbol-in-button"
                                           [text]="''" *ngIf="device.role == 'sailor'"></Label>
                                    <Label col="1" row="0" class="role-symbol-in-button"
                                           [text]="''" *ngIf="device.role == 'guard'"></Label>
                                    <GridLayout columns="15, auto, auto, auto, auto, auto, auto, *, 40" row="1" colspan="2" *ngIf="device.type == 'BoatOfficer' && dataService.boatStatus && dataService.boatStatus[device.id]">
                                        <Label col="1" *ngIf="device.external_voltage_cable != 'NONE'" class="text-overlay-bottom-left-sensors icon-boatofficer" [text]="'K'"></Label>
                                        <Label col="1" *ngIf="device.external_voltage_cable == 'NONE'" class="text-overlay-bottom-left-sensors fas" [text]="''"></Label>
                                        <Label col="2" *ngIf="(device.external_voltage_cable == 'SINGLE') || (device.external_voltage_cable == 'DOUBLE')" class="text-overlay-bottom-left-sensors " [text]="' '+dataService.boatStatus[device.id].sensor_data.ExtBatt1Volt + ' V  '"></Label>
                                        <Label col="2" *ngIf="device.external_voltage_cable == 'NONE'" class="text-overlay-bottom-left-sensors " [text]="' '+dataService.boatStatus[device.id].sensor_data.IntBattVolt + ' V  '"></Label>
                                        <Label col="2" *ngIf="device.external_voltage_cable == 'USB'" class="text-overlay-bottom-left-sensors " [text]="' '+dataService.boatStatus[device.id].sensor_data.ExtBatt2Volt + ' V  '"></Label>
                                        <Label col="3" *ngIf="device.external_voltage_cable == 'DOUBLE'" class="text-overlay-bottom-left-sensors  icon-boatofficer" [text]="'K'"></Label>
                                        <Label col="4" *ngIf="device.external_voltage_cable == 'DOUBLE'" class="text-overlay-bottom-left-sensors " [text]="' '+dataService.boatStatus[device.id].sensor_data.ExtBatt2Volt + ' V  '"></Label>
                                        <Label col="3" *ngIf="device.external_voltage_cable != 'DOUBLE'" class="text-overlay-bottom-left-sensors  icon-boatofficer" [text]="'n'"></Label>
                                        <Label col="4" *ngIf="device.external_voltage_cable != 'DOUBLE'" class="text-overlay-bottom-left-sensors " [text]="' '+dataService.boatStatus[device.id].sensor_data.IntTemperature + ' °C  '"></Label>
                                        <Label col="5" *ngIf="device.external_voltage_cable == 'DOUBLE'" class="text-overlay-bottom-left-sensors  icon-boatofficer" [text]="'n'"></Label>
                                        <Label col="6" *ngIf="device.external_voltage_cable == 'DOUBLE'" class="text-overlay-bottom-left-sensors " [text]="' '+dataService.boatStatus[device.id].sensor_data.IntTemperature + ' °C  '"></Label>
                                    </GridLayout>
                                    <GridLayout columns="15, auto, auto, auto, auto, auto, auto, *, 40" row="1" colspan="2" *ngIf="device.type == 'to-mslr' && dataService.boatStatus && dataService.boatStatus[device.id]">
                                        <Label col="1" class="text-overlay-bottom-left-sensors  icon-boatofficer" [text]="'n'"></Label>
                                        <Label col="2" class="text-overlay-bottom-left-sensors " [text]="'  '+dataService.boatStatus[device.id].sensor_data.IntTemperature + ' °C  '"></Label>
                                        <Label col="3" class="text-overlay-bottom-left-sensors  icon-weather" [text]="''"></Label>
                                        <Label col="4" class="text-overlay-bottom-left-sensors " [text]="'  '+dataService.boatStatus[device.id].sensor_data.PressureHektoPascal + ' hPa  '"></Label>
                                        <Label col="5" class="text-overlay-bottom-left-sensors  icon-weather" [text]="''"></Label>
                                        <Label col="6" class="text-overlay-bottom-left-sensors " [text]="'  '+dataService.boatStatus[device.id].sensor_data.HumidityPercent + ' %  '"></Label>
                                    </GridLayout>
                                </GridLayout>
                            </GridLayout>
                        </StackLayout>
                        <StackLayout *ngIf="device.boat_image_medium && device.boat_image_medium != 'null'">
                            <GridLayout (tap)="onBoatImageTap(device.id)">
                                <GridLayout columns="*" rows="*, 30,30" class="boatoffice-boat-image-container">
                                    <Image row="0" rowSpan="3" colSpan="2" class="boatoffice-boat-image-home" [src]="'' + device.boat_image_medium"></Image>
                                    <Label row="1" rowspan="2" colSpan="2" class="shadow-overlay-bottom-blue bottom-border-radius"></Label>
                                    <Label row="1" class="text-overlay-bottom-left" [text]="device.name"></Label>
                                    <GridLayout *ngIf="device.type == 'BoatOfficer' && dataService.boatStatus && dataService.boatStatus[device.id]" columns="15, auto, auto, auto, auto, auto, auto, *, 40" row="2">
                                        <Label col="1" *ngIf="device.external_voltage_cable != 'NONE'" class="text-overlay-bottom-left-sensors icon-boatofficer" [text]="'K'"></Label>
                                        <Label col="1" *ngIf="device.external_voltage_cable == 'NONE'" class="text-overlay-bottom-left-sensors fas" [text]="''"></Label>
                                        <Label col="2" *ngIf="(device.external_voltage_cable == 'SINGLE') || (device.external_voltage_cable == 'DOUBLE')" class="text-overlay-bottom-left-sensors " [text]="' '+dataService.boatStatus[device.id].sensor_data.ExtBatt1Volt + ' V  '"></Label>
                                        <Label col="2" *ngIf="device.external_voltage_cable == 'NONE'" class="text-overlay-bottom-left-sensors " [text]="' '+dataService.boatStatus[device.id].sensor_data.IntBattVolt + ' V  '"></Label>
                                        <Label col="2" *ngIf="device.external_voltage_cable == 'USB'" class="text-overlay-bottom-left-sensors " [text]="' '+dataService.boatStatus[device.id].sensor_data.ExtBatt2Volt + ' V  '"></Label>
                                        <Label col="3" *ngIf="device.external_voltage_cable == 'DOUBLE'" class="text-overlay-bottom-left-sensors  icon-boatofficer" [text]="'K'"></Label>
                                        <Label col="4" *ngIf="device.external_voltage_cable == 'DOUBLE'" class="text-overlay-bottom-left-sensors " [text]="' '+dataService.boatStatus[device.id].sensor_data.ExtBatt2Volt + ' V  '"></Label>
                                        <Label col="3" *ngIf="device.external_voltage_cable != 'DOUBLE'" class="text-overlay-bottom-left-sensors  icon-boatofficer" [text]="'n'"></Label>
                                        <Label col="4" *ngIf="device.external_voltage_cable != 'DOUBLE'" class="text-overlay-bottom-left-sensors " [text]="' '+dataService.boatStatus[device.id].sensor_data.IntTemperature + ' °C  '"></Label>
                                        <Label col="5" *ngIf="device.external_voltage_cable == 'DOUBLE'" class="text-overlay-bottom-left-sensors  icon-boatofficer" [text]="'n'"></Label>
                                        <Label col="6" *ngIf="device.external_voltage_cable == 'DOUBLE'" class="text-overlay-bottom-left-sensors " [text]="' '+dataService.boatStatus[device.id].sensor_data.IntTemperature + ' °C  '"></Label>
                                        <Label col="8" [text]="''"
                                               class="fa-symbol-overlay-bottom-right"  *ngIf="device.role == 'sailor'"></Label>
                                        <Label col="8" [text]="''"
                                               class="fa-symbol-overlay-bottom-right"  *ngIf="device.role == 'guard'"></Label>
                                    </GridLayout>
                                </GridLayout>
                            </GridLayout>
                        </StackLayout>
                        <!--
                        <StackLayout class="alarm-card-home" paddingTop="10" nsRouterLink="">
                            <GridLayout rows="*" columns="*,auto" >
                            <Label col="0" [text]="'Boat Moving' | L" class="t-16 font-weight-bold c-black alarm-red"
                                   horizontalAlignment="left"  verticalAlignment="center"></Label>
                                <Label col="1" [text]="'It\'s me' | L" class="t-16 font-weight-bold checkin-button"
                                       horizontalAlignment="left"  verticalAlignment="middle" ></Label>
                            </GridLayout>
                        </StackLayout>
                        -->
                        <StackLayout class="alarm-card-home" *ngIf="device.sum_active_alarm > 0" (tap)="onAlarmsTap(device.id)">
                            <Label [text]="'ACTIVE ALARMS' | L" class="t-16 font-weight-bold c-black alarm-card-simple-title"
                                       horizontalAlignment="left"></Label>
                            <StackLayout *ngFor="let alarmType of device.keyTypeActive">
                                <StackLayout *ngFor="let alarm of [device.alarm_summarized[alarmType]]">
                                    <StackLayout *ngIf="(alarm.status=='open' || (alarm.status=='open_someone_responsible' && alarm.i_am_responsible))">
                                        <GridLayout columns="40, auto, auto" rows="40">
                                            <Label col=0 row=0 text="C" class="alarm-symbol alarm-orange"
                                                   *ngIf="alarm.status == 'open'"></Label>
                                            <Label col=0 row=0 text="C" class="alarm-symbol alarm-blue"
                                                   *ngIf="alarm.status == 'open_someone_responsible'"></Label>
                                            <Label col=0 row=0 text="C" class="alarm-symbol alarm-gray"
                                                   *ngIf="alarm.status == 'marked_as_ok'"></Label>
                                            <Label col=0 row=0 text="C" class="alarm-symbol alarm-gray"
                                                   *ngIf="alarm.status == 'clear_by_device'"></Label>
                                            <Label col=1 row=0 [text]="(alarm.name | L)" class="alarm-gray t-16 font-weight-bold"
                                                   verticalAlignment="middle"></Label>
                                            <Label col=2 row=0 [text]="' ' + alarm.value + ' ' + alarm.unit" class="alarm-gray t-16 font-weight-bold"
                                                   verticalAlignment="middle" *ngIf="alarm.value"></Label>
                                        </GridLayout>
                                    </StackLayout>
                                </StackLayout>
                            </StackLayout>
                        </StackLayout>
                        <StackLayout class="alarm-card-home" *ngIf="device.sum_active_alarm === 0" (tap)="onAlarmsTap(device.id)">
                                <Label [text]="'ACTIVE ALARMS' | L" class="t-16 font-weight-bold c-black alarm-card-simple-title"
                                       horizontalAlignment="left"></Label>
                            <GridLayout columns="0, 40, auto, auto" rows="40">
                                <Label col=1 row=0 text="B" class="alarm-symbol alarm-green"></Label>
                                <Label col=2 row=0 [text]="('no active alarms' | L)" class="alarm-gray t-16 font-weight-bold"
                                       verticalAlignment="middle"></Label>
                            </GridLayout>
                        </StackLayout>
                        <StackLayout [id]="'level_7_' + device.id" class="alarm-card-home" *ngIf="dataService.boatStatus && dataService.boatStatus[device.id] && dataService.boatStatus[device.id].position_data && dataService.boatStatus[device.id].position_data.time && dataService.boatStatus[device.id].position_data.latitude && dataService.boatStatus[device.id].position_data.latitude != 0">
                            <alarm-card-4segments-title [title]="'POSITION' | L" [updatedatetime]="dataService.boatStatus[device.id].position_data.time"  [warning]="''"
                                                        *ngIf="device.bad_gps_signal == false"></alarm-card-4segments-title>
                            <alarm-card-4segments-title [title]="'POSITION' | L" [updatedatetime]="dataService.boatStatus[device.id].position_data.time"  [warning]="('GPS Reception' | L)"
                                                        *ngIf="device.bad_gps_signal == true"></alarm-card-4segments-title>
                            <GridLayout columns="*, 40" rows="20, *, 40" [id]="'level_8_' + device.id" *ngIf="dataService.boatStatus && dataService.boatStatus[device.id] && dataService.boatStatus[device.id].position_data.latitude != 0">
                                <MapView col="0" row="0" rowSpan="3" colSpan="2" [id]="'mapview_' + device.id" height="200" #mapView [latitude]="dataService.boatStatus[device.id].position_data.latitude" [longitude]="dataService.boatStatus[device.id].position_data.longitude"
                                         [zoom]="zoom" [minZoom]="minZoom" [maxZoom]="maxZoom" [bearing]="bearing"
                                         [tilt]="tilt" padding="5, 5, 5, 5" [mapAnimationsEnabled]="false"
                                         (mapReady)="onMapReady($event, idDevice)"
                                         (markerSelect)="onMarkerEvent($event)"
                                         (markerInfoWindowTapped)="onMarkerEvent($event)"></MapView>
                                <Label col="0" row="2" colSpan="2" class="shadow-overlay-bottom-alarm-red"  *ngIf="device.mode == 'SOS' || device.mode == 'Unacknowledged Movement'"></Label>
                                <Label col="0" row="2" colSpan="2" class="shadow-overlay-bottom-alarm-blue" *ngIf="device.mode != 'SOS' && device.mode != 'Unacknowledged Movement' && device.mode != ''"></Label>
                                <Label col="0" row="2" class="text-overlay-bottom-left" [text]="(device.mode + ' active') | L" *ngIf="device.mode != ''"></Label>
                                <Label col="1" row="2" [text]="''"
                                       class="fa-symbol-overlay-bottom-right"  *ngIf="device.mode == 'SOS'"></Label>
                                <Label col="1" row="2" [text]="''"
                                       class="fa-symbol-overlay-bottom-right"  *ngIf="device.mode == 'Race Mode'"></Label>
                                <Label col="1" row="2" [text]="''"
                                       class="fa-symbol-overlay-bottom-right"  *ngIf="device.mode == 'Mapping'"></Label>
                                <GridLayout col="0" row="0" rowSpan="3" colSpan="2" [nsRouterLink]="['../mapdetails', idDevice]"></GridLayout>
                            </GridLayout>
                        </StackLayout>
                        <StackLayout [id]="device.id" class="alarm-card-home"
                                     *ngIf="dataService.boatStatus && dataService.boatStatus[device.id] && dataService.boatStatus[device.id].weather_forecast && dataService.boatStatus[device.id].weather_forecast.list && dataService.boatStatus[device.id].weather_forecast.list[0]" (tap)="onWeatherTap(device.id)">
                            <Label [text]="'WEATHER ON SITE' | L" class="t-16 font-weight-bold c-black alarm-card-simple-title"
                                       horizontalAlignment="left"></Label>
                            <GridLayout *ngIf="dataService.boatStatus[device.id].weather_forecast">
                                <StackLayout>
                                    <GridLayout *ngFor="let forecast of dataService.boatStatus[device.id].weather_forecast.list; let idList = index">
                                        <GridLayout columns="37, *, 37, 42, 42, 37, 32" rows="30" [color]="forecast.is_night ? '#444444' : '#356eb4'" *ngIf="(maxWeather && maxWeather[device.id]) ? idList < maxWeather[device.id] : idList < 3" class="weather-row">
                                            <Label col=0 row=0 [text]="(((forecast.dt - dataService.boatStatus[device.id].weather_forecast.city.timezone) * 1000) | date: 'EEE') | L" class="t-16 font-weight-bold c-black"
                                                   horizontalAlignment="left"></Label>
                                            <Label col=1 row=0 [text]="((forecast.dt - dataService.boatStatus[device.id].weather_forecast.city.timezone) * 1000) | date: 'HH:mm'" class="t-16 font-weight-bold c-black"
                                                   horizontalAlignment="left"></Label>
                                            <Label col=2 row=0 [text]="'C'" class="alarm-symbol-weather alarm-orange"
                                                   horizontalAlignment="left"
                                                    *ngIf="dataService.alarmSettings && dataService.alarmSettings[device.id] && dataService.alarmSettings[device.id]['UserCfg_IntTemperatureAlarmSettingLowInDegreesC'] && dataService.alarmSettings[device.id]['UserCfg_IntTemperatureAlarmSettingLowInDegreesC'].value_user && dataService.alarmSettings[device.id]['UserCfg_IntTemperatureAlarmSettingLowInDegreesC'].value_user >= forecast.main.temp"></Label>
                                            <Label col=2 row=0 [text]="'C'" class="alarm-symbol-weather alarm-orange"
                                                   horizontalAlignment="left"
                                                    *ngIf="dataService.alarmSettings && dataService.alarmSettings[device.id] && dataService.alarmSettings[device.id]['UserCfg_IntTemperatureAlarmSettingLowInDegreesC'] && !dataService.alarmSettings[device.id]['UserCfg_IntTemperatureAlarmSettingLowInDegreesC'].value_user && dataService.alarmSettings[device.id]['UserCfg_IntTemperatureAlarmSettingLowInDegreesC'].value_device && dataService.alarmSettings[device.id]['UserCfg_IntTemperatureAlarmSettingLowInDegreesC'].value_device >= forecast.main.temp"></Label>
                                            <Label col=2 row=0 [text]="'C'" class="alarm-symbol-weather alarm-orange"
                                                   horizontalAlignment="left"
                                                    *ngIf="dataService.alarmSettings && dataService.alarmSettings[device.id] && dataService.alarmSettings[device.id]['UserCfg_IntTemperatureAlarmSettingHighInDegreesC'] && dataService.alarmSettings[device.id]['UserCfg_IntTemperatureAlarmSettingHighInDegreesC'].value_user && dataService.alarmSettings[device.id]['UserCfg_IntTemperatureAlarmSettingHighInDegreesC'].value_user <= forecast.main.temp"></Label>
                                            <Label col=2 row=0 [text]="'C'" class="alarm-symbol-weather alarm-orange"
                                                   horizontalAlignment="left"
                                                    *ngIf="dataService.alarmSettings && dataService.alarmSettings[device.id] && dataService.alarmSettings[device.id]['UserCfg_IntTemperatureAlarmSettingHighInDegreesC'] && !dataService.alarmSettings[device.id]['UserCfg_IntTemperatureAlarmSettingHighInDegreesC'].value_user && dataService.alarmSettings[device.id]['UserCfg_IntTemperatureAlarmSettingHighInDegreesC'].value_device && dataService.alarmSettings[device.id]['UserCfg_IntTemperatureAlarmSettingHighInDegreesC'].value_device <= forecast.main.temp"></Label>
                                            <Label col=2 row=0 [text]="'C'" class="alarm-symbol-weather alarm-orange"
                                                   horizontalAlignment="left"
                                                    *ngIf="forecast.wind.beaufort >= beaufortAlarmLevel"></Label>
                                            <Label col=3 row=0 [text]="(forecast.main.temp | number: '1.0-0') + '°C'" [class]="'t-16 font-weight-bold' + (
                                                    ((
                                                        dataService.alarmSettings && dataService.alarmSettings[device.id] && dataService.alarmSettings[device.id]['UserCfg_IntTemperatureAlarmSettingLowInDegreesC'] && dataService.alarmSettings[device.id]['UserCfg_IntTemperatureAlarmSettingLowInDegreesC'].value_user && dataService.alarmSettings[device.id]['UserCfg_IntTemperatureAlarmSettingLowInDegreesC'].value_user >= forecast.main.temp
                                                    ) || (
                                                        dataService.alarmSettings && dataService.alarmSettings[device.id] && dataService.alarmSettings[device.id]['UserCfg_IntTemperatureAlarmSettingLowInDegreesC'] && !dataService.alarmSettings[device.id]['UserCfg_IntTemperatureAlarmSettingLowInDegreesC'].value_user && dataService.alarmSettings[device.id]['UserCfg_IntTemperatureAlarmSettingLowInDegreesC'].value_device && dataService.alarmSettings[device.id]['UserCfg_IntTemperatureAlarmSettingLowInDegreesC'].value_device >= forecast.main.temp
                                                    ) || (
                                                        dataService.alarmSettings && dataService.alarmSettings[device.id] && dataService.alarmSettings[device.id]['UserCfg_IntTemperatureAlarmSettingHighInDegreesC'] && dataService.alarmSettings[device.id]['UserCfg_IntTemperatureAlarmSettingHighInDegreesC'].value_user && dataService.alarmSettings[device.id]['UserCfg_IntTemperatureAlarmSettingHighInDegreesC'].value_user <= forecast.main.temp
                                                    ) || (
                                                        dataService.alarmSettings && dataService.alarmSettings[device.id] && dataService.alarmSettings[device.id]['UserCfg_IntTemperatureAlarmSettingHighInDegreesC'] && !dataService.alarmSettings[device.id]['UserCfg_IntTemperatureAlarmSettingHighInDegreesC'].value_user && dataService.alarmSettings[device.id]['UserCfg_IntTemperatureAlarmSettingHighInDegreesC'].value_device && dataService.alarmSettings[device.id]['UserCfg_IntTemperatureAlarmSettingHighInDegreesC'].value_device <= forecast.main.temp
                                                    ))
                                                    ? ' alarm-orange' : '')"
                                                   horizontalAlignment="right"></Label>
                                            <Label col=4 row=0 [text]="forecast.weather[0].icon" class="weather-font"
                                                    horizontalAlignment="right"></Label>
                                            <Label col=5 row=0 [text]="forecast.wind.beaufort_icon" [class]="'weather-font' + (forecast.wind.beaufort >= beaufortAlarmLevel ? ' alarm-orange' : '')"
                                                    horizontalAlignment="right"></Label>
                                            <Label col=6 row=0 [text]="forecast.wind.direction_icon" class="weather-font"
                                                    horizontalAlignment="right" [rotate]="forecast.wind.deg + 180"></Label>
                                        </GridLayout>
                                    </GridLayout>
                                </StackLayout>
                            </GridLayout>
                            <GridLayout columns="*, *" rows="40" paddingBottom="-5" *ngIf="dataService.boatStatus && dataService.boatStatus[device.id] && dataService.boatStatus[device.id].weather_forecast">
                                <GridLayout col=0 row=0 columns="40, *" rows="40" horizontalAlignment="center">
                                    <Label col=0 row=0 [text]="dataService.boatStatus[device.id].weather_forecast.city.icon_sunrise" class="weather-font c-black"
                                           verticalAlignment="middle" horizontalAlignment="left"></Label>
                                    <Label col=1 row=0 [text]="(dataService.boatStatus[device.id].weather_forecast.city.sunrise * 1000 | date : 'HH:mm')" class="t-16 font-weight-bold c-black"
                                           verticalAlignment="middle" horizontalAlignment="left"></Label>
                                </GridLayout>
                                <GridLayout col=1 row=0 columns="40, *" rows="40" horizontalAlignment="center">
                                    <Label col=0 row=0 [text]="dataService.boatStatus[device.id].weather_forecast.city.icon_sunset" class="weather-font c-black"
                                           verticalAlignment="middle" horizontalAlignment="left"></Label>
                                    <Label col=1 row=0 [text]="(dataService.boatStatus[device.id].weather_forecast.city.sunset * 1000 | date : 'HH:mm')" class="t-16 font-weight-bold c-black"
                                           verticalAlignment="middle" horizontalAlignment="left"></Label>
                                </GridLayout>
                            </GridLayout>
                        </StackLayout>
                        <GridLayout>
                            <StackLayout class="alarm-card-home" *ngIf="dataService.boatStatus && dataService.boatStatus[device.id] && dataService.boatStatus[device.id].nearest_webcam && dataService.boatStatus[device.id].nearest_webcam.url">
                                <alarm-card-4segments-title [title]="'WEBCAM' | L" [subtitletop]="dataService.boatStatus[device.id].nearest_webcam.location_name"  [subtitlebottom]="dataService.boatStatus[device.id].nearest_webcam.name"></alarm-card-4segments-title>
                                <GridLayout columns="*" rows="240" paddingBottom="0" [id]="'webcam_'+idDevice" *ngIf="dataService.boatStatus[device.id].nearest_webcam.url" >
                                    <GridLayout id="GridLayout-webcam" [columns]="webcamWidth[device.id] ? webcamWidth[device.id] : '*'" [rows]="webcamHeight[device.id] ? webcamHeight[device.id] : 240">
                                        <WebView [id]="device.id"
                                                 [src]="'' +
                                        dataService.boatStatus[device.id].nearest_webcam.url"
                                                 (loadStarted)="onLoadStarted($event)"
                                                 (loadFinished)="onLoadFinishedWebView($event)">
                                        </WebView>
                                    </GridLayout>
                                    <GridLayout [nsRouterLink]="['../webcam', idDevice]"></GridLayout>
                                </GridLayout>
                            </StackLayout>
                            <StackLayout [visibility]="(webcamScaled[device.id] ? 'collapsed' : 'visible')" class="alarm-card-home" padding="5,10,10,10" marginBottom="10" *ngIf="dataService.boatStatus && dataService.boatStatus[device.id] && dataService.boatStatus[device.id].nearest_webcam && dataService.boatStatus[device.id].nearest_webcam.url">
                            </StackLayout>
                        </GridLayout>
                        <GridLayout height="10"></GridLayout>
                    </StackLayout>
                </StackLayout>
            </GridLayout>
        </ScrollView>
    </PullToRefresh>
    <MDActivityIndicator [busy]="false">
    </MDActivityIndicator>
    <GridLayout class="blob" *ngIf="dataService.isLoading">
        <Image col=0 row=1 src="~/assets/icon.png"></Image>
    </GridLayout>
</GridLayout>
