<!--<ActionBar backgroundColor="#091525">
    <Label text="Home" color="white"></Label>
</ActionBar>-->

<ScrollView orientation="vertical" class="homeBackgroundImage" backgroundImage="~/assets/AppDesignSources_FreigestellteBilder_bg_harbour_w_bluesky.png">
    <GridLayout columns="*" rows="40, 100, 5, *" class="page__content">
        <Label col=0 row=0 text="" height="40"></Label>
        <Image col=0 row=1 src="~/assets/BOATOFFICER_Logo.png" class="boatofficer-logo"></Image>
        <Label col=0 row=2 text="" height="5"></Label>
        <StackLayout col=0 row=3>
            <StackLayout *ngFor="let device of dataService.deviceData">
                <Label text="" height="10"></Label>
                <StackLayout [class]="device.boat_image_medium && device.boat_image_medium != 'null' ? 'boat-name' : 'alarm-button'" height="30pt">
                    <Label [text]="device.name" marginLeft="10" marginTop="3"></Label>
                </StackLayout>
                <StackLayout *ngIf="device.boat_image_medium && device.boat_image_medium != 'null'">
                    <Image class="boatoffice-boat-image-home" [src]="'' + device.boat_image_medium"></Image>
                </StackLayout>
                <StackLayout *ngFor="let alarm of device.alarm">
                    <StackLayout *ngIf="alarm.status=='open' || (alarm.status=='open_someone_responsible' && alarm.i_am_responsible)">
                        <Label text="" height="7"></Label>
                        <GridLayout columns="40, *, 40" rows="40" (tap)="onButtonTap()" class="alarm-button">
                            <Label col=0 row=0 text="C" class="alarm-symbol alarm-orange"
                                   *ngIf="alarm.status == 'open'"></Label>
                            <Label col=0 row=0 text="C" class="alarm-symbol alarm-blue"
                                   *ngIf="alarm.status == 'open_someone_responsible'"></Label>
                            <Label col=0 row=0 text="C" class="alarm-symbol alarm-gray"
                                   *ngIf="alarm.status == 'marked_as_ok'"></Label>
                            <Label col=0 row=0 text="C" class="alarm-symbol alarm-gray"
                                   *ngIf="alarm.status == 'clear_by_device'"></Label>
                            <Label col=1 row=0 [text]="alarm.type" class="alarm-text"></Label>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </GridLayout>
</ScrollView>
