<ActionBar title="Log out" class="action-bar bg-darkblue">
    <NavigationButton text="Back" android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <Label text="LOG OUT" class="alarm-text"></Label>

</ActionBar>

<GridLayout class="homeBackgroundImage"
            backgroundImage="~/assets/AppDesignSources_FreigestellteBilder_bg_harbour_gray.png">
    <StackLayout class="form" padding="10">
        <StackLayout class="input-field">
            <Label
                    class="label"
                    text="">
            </Label>
            <Button
                    text="Logout"
                    class="btn btn-blue btn-rounded-lg"
                    (tap)="saveForm()"
                    nsRouterLink="../"
            ></Button>
        </StackLayout>
        <ActivityIndicator [busy]="isLoading">
        </ActivityIndicator>
    </StackLayout>
</GridLayout>
