<ActionBar title="Log out" class="action-bar bg-darkblue">
    <NavigationButton text="Back" android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <Label text="LOG OUT" class="alarm-text"></Label>

</ActionBar>

<GridLayout class="homeBackgroundImage"
            backgroundImage="~/assets/AppDesignSources_FreigestellteBilder_bg_harbour_gray.png">
    <StackLayout class="form" padding="10, 10, 0, 10">
        <StackLayout class="input-field">
            <TextView
                    class="inputlabel"
                    text="By logging out you will no longer receive push notifications">
            </TextView>
            <Button
                    text="Logout"
                    class="alarm-button"
                    (tap)="saveForm()"
                    nsRouterLink="../"
            ></Button>
        </StackLayout>
        <ActivityIndicator [busy]="isLoading">
        </ActivityIndicator>
    </StackLayout>
</GridLayout>
