<ActionBar title="Register new device" class="action-bar bg-darkblue">
    <NavigationButton text="Back" android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <Label text="REGISTER NEW DEVICE" class="alarm-text"></Label>

</ActionBar>

<GridLayout class="homeBackgroundImage"
            backgroundImage="~/assets/AppDesignSources_FreigestellteBilder_bg_harbour_gray.png">
    <StackLayout class="form">
        <StackLayout class="input-field" padding="10, 10, 0, 10">
            <Label
                    class="inputlabel"
                    text="Serial Number">
            </Label>
            <TextField
                    returnKeyType="next"
                    [autocorrect]="false"
                    autocapitalizationType="none"
                    [(ngModel)]="serialNumber"
            ></TextField>
        </StackLayout>
        <StackLayout class="input-field" padding="10, 10, 0, 10">
            <Label
                    class="inputlabel"
                    text="Registration Key">
            </Label>
            <TextField
                    returnKeyType="done"
                    [autocorrect]="false"
                    autocapitalizationType="none"
                    [(ngModel)]="registrationKey"
            ></TextField>
        </StackLayout>
        <StackLayout class="input-field" padding="10, 10, 0, 10">
            <Label
                    class="inputlabel"
                    text="Device Name">
            </Label>
            <TextField
                    returnKeyType="done"
                    [autocorrect]="false"
                    autocapitalizationType="none"
                    [(ngModel)]="deviceName"
            ></TextField>
        </StackLayout>
        <Button
                text="Register Device"
                class="alarm-button"
                (tap)="saveForm()"
        ></Button>
        <ActivityIndicator [busy]="isLoading">
        </ActivityIndicator>
    </StackLayout>
</GridLayout>
