<ns-action-bar title="Settings"></ns-action-bar>

<StackLayout class="page__content">
    <Button
            text="Anmelden"
            class="btn btn-primary"
            nsRouterLink="../auth"
            pageTransition="slideLeft"></Button>
    <app-alertsettings></app-alertsettings>
    <Button
            text="Gerät registrieren"
            class="btn btn-primary"
            nsRouterLink="../scan"
            pageTransition="slideLeft"></Button>
    <Button
            text="Bild hochladen"
            class="btn btn-primary"
            nsRouterLink="../uploadpicture"
            pageTransition="slideLeft"></Button>
    <Button
            text="Abmelden"
            class="btn btn-primary"
            nsRouterLink="../logout"
            pageTransition="slideLeft"></Button>
</StackLayout>

